.content-wrapper {
	padding: 15px;
}

.vertical-spacer {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.horizontal-spacer {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.col-45d {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.row-45d {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

.table-45d > .row-45d {
	margin-top: 5px;
	margin-bottom: 5px;
}

.row-45d > .pf-c-button {
	margin-right: 10px;
}

.col-45d > .pf-c-button {
	margin: 5px;
}

.info-45d {
	margin: 0px !important;
	margin-left: 5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.flex-45d-space-between {
	justify-content: space-between;
}

.flex-45d-space-around {
	justify-content: space-around;
}

.flex-45d-stretch {
	align-items: stretch;
}

.col-45d > .info-45d {
	margin: 5px !important;
}

.info-45d > .pficon {
	width: 0.75em !important;
	height: auto !important;
	top: 5px !important;
}

.modal {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-footer {
	text-align: right;
}

#smbpasswd-info {
	margin-top: 10px;
}

.monospace-45d {
	font-family: monospace, monospace;
	font-weight: light;
	font-size: 85%;
}
