.content-wrapper {
	padding: 15px;
}

.vertical-spacer {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.horizontal-spacer {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.table-45d {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.row-45d {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

.table-45d > .row-45d {
	margin-top: 5px;
	margin-bottom: 5px;
}

.row-45d > .pf-c-button {
	margin-right: 10px;
}

.info-45d {
	margin: 0px !important;
	margin-left: 5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.info-45d > .pficon {
	width: 0.75em !important;
	height: auto !important;
	top: 5px !important;
}

.modal {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-footer {
	text-align: right;
}

#smbpasswd-info {
	margin-top: 10px;
}
