.content-wrapper {
	padding: 15px;
}

.vertical-spacer {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.horizontal-spacer {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.col-45d {
	display: inline-flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.row-45d {
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}

.table-45d > .row-45d {
	margin-top: 5px;
	margin-bottom: 5px;
}

.row-45d > .pf-c-button {
	margin-right: 10px;
}

.col-45d > .pf-c-button {
	margin: 5px;
}

.col-45d > .label-45d {
	margin: 5px;
}

.label-45d > label {
	font-weight: bold;
}

.info-45d {
	margin: 0px !important;
	margin-left: 5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.flex-45d-space-between {
	justify-content: space-between;
}

.flex-45d-space-around {
	justify-content: space-around;
}

.flex-45d-stretch {
	align-items: stretch;
}

.flex-45d-baseline {
	align-items: baseline;
}

.flex-45d-center {
	align-items: center;
}

.col-45d > .info-45d {
	margin: 5px !important;
}

.info-45d > .pficon {
	width: 0.75em !important;
	height: auto !important;
	top: 5px !important;
}

.modal {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-footer {
	text-align: right;
}

#smbpasswd-info {
	margin-top: 10px;
}

.monospace-45d {
	font-family: monospace, monospace;
	font-weight: light;
	font-size: 85%;
}

.label-45d {
	font-weight: bold;
}

.data-list-45d {
	margin-left: 10px;
	margin-right:10px;
}

.circle-icon {
	text-decoration: none;
	display: inline-flex;
	font-size: 12pt;
	font-weight: bold;
	margin: 1px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	justify-content: center;
}

button > .circle-icon {
	margin-left: -10px;
	font-size: 12pt;
}

#add-group-btn {
	margin-right: 0;
}

.circle-icon:hover {
	border-width: 2px;
}

.circle-icon-danger {
	background-color: white;
	color: #c9190b;
	border: 1px solid #c9190b;
}

.circle-icon-secondary {
	background-color: white;
	color: #0066cc;
	border: 1px solid #0066cc;
}
